/* .jumbotron {
  padding: 4rem 2rem;
  margin-bottom: 2rem;
  background-color: var(--bs-light);
  border-radius: 0.3rem;
} */
* {
  color: #000;
  font-family: Roboto, sans-serif;
}
li {
  text-decoration: none;
  color: #000;
}
.btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
}

/* cart badge */

.cart-badge,
.cart-badge:hover {
  border-radius: 50%;
  padding: 2px;
  font-size: 12px;
  font-style: italic;
  background: #000;
}
/**
  * single product page - product name
  */

.name {
  background: darksalmon;
  width: 100%;
  color: #fff;
  font-weight: bold;
}

/* black shade form 10-1 */
.black-10 {
  background: #f2f2f2;
}
.black-9 {
  background: #e6e6e6;
}
.black-8 {
  background: #d9d9d9;
}
.black-7 {
  background: #cccccc;
}
.black-6 {
  background: #bfbfbf;
}
.black-5 {
  background: #b3b3b3;
}

/**
  * product image on card
  */

.product-img {
  min-height: 100px;
}

.jumbotron h2 {
  margin-top: -10px;
}
/* 
@media only screen and (max-width: 600px) {
  .jumbotron h2 {
    margin-top: 10px;
  }
} */

/**
  * jumbotron animation
  */

.jumbotron {
  /* height: 180px;
  color: #fff;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: Gradient 10s ease infinite;
  -moz-animation: Gradient 10s ease infinite;
  animation: Gradient 10s ease infinite; */
  width: 100%;
}

.img {
  width: 250px;
  height: 100px;
}
.divider {
  width: 100%;
  height: 5px;
  background-color: #15953e;
}
.searchBar {
  width: 20%;
}
.searchForm {
  display: inline;
}
.navBkg {
  background-color: #fff;
}
.footer {
  background-color: #15953e;
  width: 100%;
}
.footer-text {
  color: white;
}
.navFilter {
  background-color: #fff;
  text-align: center;
}
